<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-UGN198I;Initial Catalog=MusiqueSQL;Integrated Security=SSPI" />
  </connectionStrings>
</configuration>